body{background-color: rgb(80, 77, 77);

}
h1{background-color: rgb(23, 22, 21);
color: rgb(227, 150, 42);
text-align: center;
}
h3{background-color: rgb(10, 10, 10);
    color: rgb(253, 248, 248);
    text-align: center;
    }

    table{background-color: rgb(86, 89, 92);
color: rgb(247, 239, 239);
    }